<DIConfigurationSection>
  <bindings>
    <add fromType="Orders.com.BLL.IOrderItemService, Orders.com.BLL" toType="Orders.com.BLL.OrderItemServerService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.IOrderService, Orders.com.BLL" toType="Orders.com.BLL.OrderService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.ICustomerService, Orders.com.BLL" toType="Orders.com.BLL.CustomerService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.ICategoryService, Orders.com.BLL" toType="Orders.com.BLL.CategoryService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.IInventoryItemService, Orders.com.BLL" toType="Orders.com.BLL.InventoryItemService, Orders.com.BLL" />
    <add fromType="Orders.com.BLL.IProductService, Orders.com.BLL" toType="Orders.com.BLL.ProductService, Orders.com.BLL" />
    <add fromType="Orders.com.DataProxy.ICategoryDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.CategoryRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.DataProxy.IOrderItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.OrderItemRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.DataProxy.IProductDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.ProductRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.DataProxy.IInventoryItemDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.InventoryItemRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.DataProxy.IOrderDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.OrderRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Orders.com.DataProxy.ICustomerDataProxy, Orders.com.BLL" toType="Orders.com.DAL.InMemory.CustomerRepository, Orders.com.DAL.InMemory" asSingleton="true" />
    <add fromType="Peasy.ITransactionContext, Peasy" toType="Orders.com.Web.Api.DTCTransactionContext, Orders.com.Web.Api" />
  </bindings>
</DIConfigurationSection>